<h1 class="text-center">Welcome to mini-apps</h1>
<%= link_to "puzzle", puzzle_path, class: "btn btn-primary m-2" %>
<%= link_to "wagon race", race_path, class: "btn btn-primary m-2" %>
<%= link_to "geocode", geocode_path, class: "btn btn-primary m-2" %>
<%= link_to "weather", weather_path, class: "btn btn-primary m-2" %>
<%= link_to "minesweeper", minesweeper_path, class: "btn btn-primary m-2" %>

<%= link_to "word game", newgame_path, class: "btn btn-primary m-2" %>
